body{
    display: block;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    line-height: 1.5;
    color: white;
}
.w02-body{
    background-color: #3b3b3b;
}
.week1-header{
    color: black;
}
ul li{
    list-style: decimal;
    font-size: 17px;
}
h1, h2{
    font-family: "Ubuntu";
}
p{
    font-family: "Lato";
    font-size: 18px;
}
hr{
    margin-top: -10px;
}
span{
    font-weight: bolder;
}
.week1-div{
    background-color: rgb(255, 165, 0, .4);
    color: black;
}
div{
    background-color: #3b3b3b; 
    padding: 1px 20px;
    margin: 0 .2em;
    box-shadow: 0px 0px 5px;
}
h1{
    font-size: 1.9rem;
    background: linear-gradient(to left, rgb(255, 165, 0, .2), rgb(255, 165, 0, .6), rgb(255, 165, 0, .5));
    padding: 20px;
}   
h2{
    font-size: 1.6rem;
    margin: 25px 0 8px .7em;
}
 /* For Week 2 Major Styling */

 .keyword, .periods{
    color: red;
 }
 .major-color{
    color: blue;
 }
 .indent{
    margin-left: 20px;
 }
 .indented{
    margin-left: 40px;
 }
 .js-comment{
    color: brown;
 }
.marks-color{
    color: white;
}
.code{
    background-color: #282a36;
    margin: 2em 0;
    padding: 20px;
    font-weight: 100;
    /* font-size: 17px; */
    font-family: "Ubuntu";
    
}
.highlight{
    color: lightblue;
    text-decoration: solid;
    background-color: #555353;
    padding: 2px;
    border-radius: 5px;
}
.yellow{
    color: yellow;
}
.header{
    background: linear-gradient(to left, rgb(255, 165, 0, .2), rgb(255, 165, 0, .6), rgb(255, 165, 0, .5), rgb(255, 165, 0, .2));
    display: block;
}
.header a{
    color: #282a36;
    text-decoration: none;
    margin: .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: linear-gradient(to left, rgb(255, 165, 0, .2), rgb(255, 165, 0, .6), rgb(255, 165, 0, .5), rgb(255, 165, 0, .2));
}
.header a:hover{
   background-color: #555353;

}
/* Styling for Week 03 Note */
.week3-div{
    background-color: rgb(114, 156, 121,.3);
    color: black;
}
#week3-div{
    background-color: rgb(114, 156, 121, .5);
    color: black;
}
.week3-header{
    color: black;
}
.week3-h1{
    color: black;
    background: rgb(114, 156, 121, .5);
}
.circle{
   list-style: circle;   
}
.week3-font-fam{
    font-family: "Lato";
}
.week3-font-fam a{
    text-decoration: none;
    color: red;
}
.week3-h3{
    font-family: "Ubuntu";
    color: black;
    text-align: center;
    padding: 7px;
}